allow rootfs labeledfs:filesystem associate;
allow cgroup labeledfs:filesystem associate;
allow oemfs  labeledfs:filesystem associate;
allow proc_cmdline labeledfs:filesystem associate;
