import /init.base.rc

on init
    chmod 0755 /device
    chmod 0755 /device/data

service auto_start_apk /system/bin/auto_start_apk.sh
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start auto_start_apk
