Package: cic
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Depends: libgles2, libegl1, libegl1, libxfixes3, libc6, libcairo2
Essential: no
Installed-Size: 1024
Maintainer: Intel
Description: celadon on container
