# These settings are specific to running under the Android emulator
/dev/ttyS*                0666   system     system
/proc                     0666   system     system
/dev/binder*              0666   root       root
/dev/hwbinder*            0666   root       root
/dev/vndbinder*           0666   root       root
/dev/video*               0660   cameraserver system
